.ListItemForm {
    padding: 20px;
}
input[type=submit] {
    height: 40px;
    background: black;
    color: white;
    width: 19%;
    font-size: 15px;
    outline: none;
}

input[type=text] {
    width: 70%;
    height: 40px;
    margin: 0 10px 0 10px;
    font-size: 15px;
    border-style: none;
    border-bottom: 1px solid grey;
    outline: none;
}