.App {
  background-color: #e6e6e6;
  color: black;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.App-header {
  height: 30px;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: #000;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Time, .Weather, .Todo {
  border: 1px solid gray;
  border-radius: 5px; 
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
  margin: 20px;
  background-color: #fff;
}

.Todo {
  width: 50%;
  height: 300px;
  overflow: scroll;
}

.Time {
  width: 30%;
  height: 300px;
}


.Weather {
  height: 380px;
  width: 50%;
}

button {
  background: black;
  color: white;
  font-size: 15px;
  outline: none;
}

h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #dae1ec;
}

td {
  padding: 10px 0 0 40px;
}