.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #e6e6e6;
  padding: 1em;
  color: grey;
  display: flex;
  justify-content: space-evenly;
}

.Todo {
  width: 50%;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  height: 300px;
  overflow: scroll;
}

.Time {
  width: 30%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 300px;
}